body {
    margin:0; padding:0;
    font:12px/16px Calibri, Helvetica, Arial, sans-serif;    
    background:#000;
    color:#FFF;
    border-right:15px solid white;
}

#content {
  margin:0; padding:40px 80px; width:520px;
  background:#FFF;
  color:#000;
  
}

h1 {
  font: 24px/32px Futura, "Bank Gothic", "Gotham", "Century Gothic", sans-serif;
  text-transform: uppercase;        
  margin:0;
}

#footer {
   color: #777;
   margin-top:40px;
}

#index, #images {
    width:520px;
}

#searchbox {
   width:300px;
}
label + #searchbox {
   margin-left:5px;
}

#header p {
  margin:0;padding-top:4px;
}

#header, .photo {
  margin-bottom:40px;
}

.photo img {
    padding:10px;margin:0;
    background:black;
}

.photo p {
  font-size:10px;
  color:gray;
}


a {
    text-decoration: none;
    font-weight: bold;
    color: #228;
    border: 0;
}

a:hover {
   text-decoration: underline;
}
